POSTGRES_DB=
POSTGRES_USER=milky_user
POSTGRES_PASSWORD=strong_app_pass

HACMAN_DB=hacman
HACMAN_TEST_DB=test_hacman
HACMAN_USER=hacman
HACMAN_PASSWORD=hacman-secret-password

PLAYERS_TEST_DB=test_players
PLAYERS_USER=players
PLAYERS_PASSWORD=players-secret-password

POSTGRES_BACKUP_USER=backup
POSTGRES_BACKUP_PASSWORD=backup_pass
POSTGRES_WAIT_TIMEOUT=60
