/traefik/certs/milkyway.crt
/traefik/certs/milkyway.key
/.env
/sql/mariadb/test_chess/chess_v1/
/env/tomcat/andromeda-authorization.properties
/env/grafana/.env
/env/db/mariadb.env
/env/db/mongo.env
/env/db/postgres.env
/.idea/
/env/backup/.env
/env/backup/restic.env
/env/tomcat/nebula-rest.properties
/env/tomcat/.env

