FRONT_APP_DIR_DEV_ENV=/home/wolf/MilkyWayHomeLab/infrastructure/docker/test/nginx/robak-front-app/dist
FRONT_ARCHIVE_DIR_DEV_ENV=/home/wolf/MilkyWayHomeLab/infrastructure/docker/test/nginx/robak-front-archive
DOCKER_TEST_DIR_TEST_ENV=/home/wolf/MilkyWayHomeLab/infrastructure/docker/test/nginx/robak-front-app

ROBAK_FRONT_SERVICE_DEV=robak-front-app-test
PUBLIC_URL=/robak/app/
PUBLIC_URL_DEV=/robak/app/

# App credentials (see src/data/Credentials.js)
REACT_APP_USERNAME=robak
REACT_APP_PASSWORD=robak_super_secret

# Backend / gateway domains
REACT_APP_APACHE_DOMAIN=https://milkyway.test
REACT_APP_TOMCAT_DOMAIN=https://milkyway.test
REACT_APP_REQUEST_URL=https://milkyway.test/robak/api/v1

# Nebula SSO login redirect + Nebula REST API
REACT_APP_NEBULA_LOGIN=https://milkyway.test/nebula/app/redirect?destination=Robak
REACT_APP_NEBULA_REST=https://milkyway.test/nebula/api/v1
